<div class="container">
  <p-toast position="top-right" key="k"></p-toast>

  <div class="left">
    <form class="login">
      <div class="col-12" style="margin: 0.5em">
        <div class="p-inputgroup">
          <input
            type="text"
            [(ngModel)]="mobileNo"
            pInputText
            placeholder="Enter Mobile"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
      <div class="col-12" style="margin: 0.5em">
        <div class="p-inputgroup">
          <input
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="otp"
            type="number"
            pInputText
            placeholder="Enter OTP"
          />
        </div>
      </div>
      <div style="margin: 0.5em">
        <button
          style="width: 100%"
          pButton
          type="button"
          class="p-button-raised"
          label="LOGIN"
          icon="pi pi-check"
          iconPos="left"
          (click)="login()"
        ></button>
      </div>
    </form>
  </div>
  <div class="right">
    <!-- <img [src]="imageUrl" /> -->
  </div>
</div>
