.card{
    border-color: rgb(100, 181, 246);
    border-left-width: 4px;
    border-left-style: solid;
}

.shadow{
    box-shadow: 0 3px 5px #00000005,0 0 2px #0000000d,0 1px 4px #00000014!important;
}